.goToLink {
    position: fixed;
    bottom: 0;
    right: 0;
    
}

.instagram {
    height: 40px;
    width: 40px;
    cursor: pointer;
    
}

.home {
    height: 600px;
    width: 600px;
   /* object-fit: contain; */
   margin: auto;
    display:block; 
   cursor: pointer;
   transition: transform 0.2s;
   margin-top: 40px;
   mask-image:
          linear-gradient(to right, rgba(7, 7, 7, 0) 0%, rgba(0,0,0,1) 100%);
    border-style: groove; 
 }  
   
.home:hover {
    transform: scale(1.02);
}


.hometext {
    
    margin: 0 350px;
    word-spacing: 560px;
    color: white;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    }



.carousel {
    width: 100%;
    margin: auto;
    display: flex;
    
 }   
        
 .kysimustevorm {
    margin-top: 20px;
    color: white;
    /* cursor: pointer; */
 }


/* .tagataust {
    background-image: url('/public/taust2.JPG');
    background-position: bottom;
    background-size: cover;
    height: 100%;
    width: 100%;
} */

.hinnakiri {
    margin-top: 40px;
    width:700px;
    height:900px;
    margin-right: 50px;
    border-style:solid;
}