.dropbtn {
    background-color: #080808;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(167, 167, 167, 0.2);
    z-index: 1;
    color: white;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #94bb39;
    cursor: pointer;
    opacity: 0.8;
  }
  

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #000000;}

  .kiri {
    color: white;
  }

  .text {
    color: white;
  }