

.navObjekt {
   align-items: bottom;
}

.karussell {
    
    margin-top: 20px;
    object-fit:cover;
    width: 2000px;
    height: 200px;
    opacity: 50%;
    display: flex;
    
    
}

 .karu {
    display: flex;
    height: 100%;
} 

.background {
    background-color: yellowgreen;
}

.galerii {
    margin-left:20px;
    margin-top: 20px;
    height: 400px;
    width: 400px;
    overflow: hidden;
   object-fit: cover;
   /* transition: transform 0.2s ease-in-out 0.1s; */
   
 }  
    

.galerii:hover {
    /* zoom:120%; */
    transform: scale(1.2);
    /* transition: transform 0.2s ease-in-out 0.2s; */
    transition: transform .3s ease;
} 
    
.nupp {
    background-color: rgb(112, 112, 79);
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

  .App {
    height: 100%;
    width: 100%;
    background-color:black;
    /* background-image: url('/public/taust2.JPG'); */
    background-position: center;
    background-size: cover;
    min-height: 1200px;
    
    background-attachment: fixed;
    
}  

/* .tagataust {
    background-color: black;
} */

.map {
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
}

.form {
    color: white;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}